.navbar {
  background-color: #131921 !important;
}
.header img {
  width: 6em;
}
.signin p,
.return-orders p {
  font-size: 0.71rem;
  color: white;
}

.signin span,
.return-orders span,
.basket p {
  font-size: 0.8rem;
  font-weight: 700;
}
.basket svg {
  font-size: 1.4em;
  margin-right: 0.3em;
}
.basket-link {
  display: flex;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  color: white;
}

.basket span {
  background-color: #d8a122;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.7rem;
  border-radius: 50%;
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: 1.2em;
  margin-top: -1em;
  color: black;
}

.form-control {
  position: relative;
  width: 100%;
}
.form-button {
  position: absolute;
  background-color: #febd69;
  border: none;
}
.search-icon svg {
  color: black;
}

.searchbar {
  width: 46em;
  display: flex;
  align-items: center;
  height: 2.3em;
  position: relative;
}

.searchbar input {
  width: 100%;
  height: 100%;
  padding: 0.5em 0.5em;
  border: none;
  outline: none;
  border-radius: 5px;
}

.searchbar .search-icon {
  height: 100%;
  padding: 0 0.6em;
  background-color: #febd69;
  border-radius: 0 5px 5px 0;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.searchbar .search-icon svg {
  font-size: 1.7em;
  color: black;
  margin-top: 0.2em;
}

#navbarScroll{
    display: flex !important;
}