.products-card{
    background-color: #fff;
    box-shadow: 1px 1px 20px #CCD1D1;
    width: 16.65em;
    border-radius: 2px;
    height: 61vh;
    padding: 0 .3em;
    transition: all .2s ease-in-out;
}
.products-card:hover{
    transform: scale(1.06);
}
.products-card:hover .info button{
    font-weight: 600;
}
.product-type{
    font-size: .64rem;
    font-style: italic;
    text-align: end;
}
 .info{
    display: flex;
    flex-direction: column;
    padding: .8em;
} 
.info .image{
    height: 9.6em;
    width: 100%;
    text-align: center;
    align-self: center;
    margin-bottom: 1em;
}
.info .image img{
    width: 50%;
    height: 100%;
    
}
.info h5{
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: .62em;
}
.rating-icons svg{
    color: #9B7708;
    margin-right: .34em;
    font-size: 1.2em;
    margin-bottom: .62em;
}
.info p{
    font-size: .79rem;
    margin-bottom: .62em;
    /* height: 4em; */
}
.info h4{
    font-weight: 500;
    margin-bottom: .62em;
    font-size: .92rem;
}
.info button{
    background: linear-gradient(180deg, #fde7ae,#f3c451);
     border: 1px solid #b79033;
     font-weight: 500;
     font-size: .8rem;
     padding: .4em;
     border-radius: 3px;
    transition: all .2s ease-in-out;
    cursor: pointer;
   
}
