.footer button {
  width: 100%;
  padding: 0.6em 0;
  background-color: #232f3e;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
}

.footer-div{
  display: flex;
  flex-direction: column;
}
.footer-info{
    background-color: #131921;
     color: #fff;
     padding: 0.8em 0;
     display: flex;
     justify-content: center;
}
.footer-div h5{
    font-size: 0.79rem;
  margin-bottom: 0.7em;
  font-weight: 800;
}
.footer-div a{
     text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  letter-spacing: 0.03rem;
}